@font-face {
    font-family: ritaglio;
    src: url(../fonts/Ritaglio.ttf);
}

* {
	margin: none;
	padding: none;
	text-align: center;
	font-family: ritaglio;
}
body {
	background:  #3498db;
}
canvas#minijuego_patrones {
	display: inline-block;
}
h1 {
	font-size: 30pt;
}
